:root {
  --color-black: #000;
  --color-dark: #212121;
  --color-grey: #323232;
  --color-purple: #8758FF;
  --color-purple-darker: #34315a;
  --color-light: #EEEEEE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: var(--color-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* NAVBAR HEADER */


.navbar {
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  min-height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

a {
  text-decoration: none;
}

.nav-button-container {
  display: flex;
  justify-content: center;
  width: 33vw;
  font-size: 1.5rem;
}

.nav-button {
  background-color: inherit;
  color: var(--color-light);
  border: none;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 5px 10px;
  transition: ease-in-out 0.25s;
  cursor: pointer;
  align-items: center;
}
.nav-button:hover {
  background-color: var(--color-grey)
}

.logo {
  color: var(--color-purple);
  font-size: 4rem;
}

/* HOME BOARD SELECIONT */

.home-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 1000px;
  width: 80vw;
  margin: 200px auto 30px;
  gap: 0 20px;
}

.board-container {
  max-width: 300px;
  margin: 15px auto;
  position: relative;
  place-self: center;
  cursor: pointer;
  border-radius: 10px;
  transition: .2s linear;
}

.board-name {
  position: absolute;
  color: var(--color-light);
  font-weight: 900;
  font-size: 3rem;
  left: 50%;
  top: 3%;
  transform: translate(-50%, 0);
}

.board-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
}

.board-container:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 20px var(--color-black)
}

/* GAME  */
.game-board-img {
  display: block;
  width: 100%;
}
